service: hello-world-servless

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-central-1
 
functions:
  hello:
    handler: handler.handler
    events:
      - http:
          path: /hello
          method: get

recources:
  Resources:
    DataQueue:
      Type: AWS::SQS::Queue
      Properties:
        QueueName: "data-events"